.name {
  font-size: 28px;
  color: #0099cc;
  border-bottom: 4px solid #000066;
  width: span;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  font-size: 125%;
}

tfoot {
  font-weight: bold;
}